.root {
  position: relative;
  border: 1px solid #ccc;
  height: 320px;
  width: 320px;
  margin: 0 auto;
  overflow-y: scroll;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
  padding: 10px 15px;
}

.items {
  text-align: left;
}

.img {
  height: 35px;
  width: 35px;
  margin: 5px;
}