.root {
  height: 190px;
  margin: 0 auto;
  text-align: left;
}

.img {
  height: 35px;
  width: 35px;
  margin: 5px;
}

.items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}

.item {
  width: 16.6666666666%;
}

.num {
  text-align: center;
  font-size: 12px;
  color: #aeaeae;
}